<ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button (click)="abrirMenu()">
        <img class="icon" src="assets/icon/list.svg">
    </ion-fab-button>

</ion-fab>





<ion-tabs>

    <ion-tab-bar slot="bottom" color="dark">


        <ion-tab-button tab="bosque">
            <img class="icon-tab" src="assets/icon/bosque.svg">
            <ion-label>Bosque</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="arbol">
            <img class="icon-tab" src="assets/icon/arbol.svg">
            <ion-label>Mi arbol</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="logros">
            <img class="icon-tab" src="assets/icon/logros.svg">
            <ion-label>Logros</ion-label>
        </ion-tab-button>


    </ion-tab-bar>

</ion-tabs>