.mainSlide,
.mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

ion-input {
    text-align: left;
    border-radius: 10px;
    background-color: #000000cf !important;
    color: #fff;
    padding: 0 10px !important;
    margin-bottom: 10px;
}

.logo {
    width: 150px;
    margin: 0 auto;
}