<ion-content [fullscreen]="true" class="fondo">


    <ion-toolbar color="dark">
        <ion-title>Logros y desafios</ion-title>
    </ion-toolbar>

    <div class="velo"></div>


    <!-- Estadisticas -->
    <ion-grid>

        <ion-row>


            <!-- Fecha -->
            <ion-col size="6" *ngFor="let logro of logros">
                <ion-card class="box" [class.logrado]="logro.logrado">
                    <ion-card-content>
                        <div>
                            <ion-card-subtitle> {{ logro.logro }} </ion-card-subtitle>
                            <ion-card-title *ngIf="logro.logrado">Logrado</ion-card-title>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>



        </ion-row>
    </ion-grid>
    <!-- Estadisticas -->

</ion-content>